
.carts, #side #cart {
  color: #87cefa;
  font-size: 23px;
 
  .item_price, .total_line {
    text-align: right;
    color: #87cefa;
  }
  .total_line .total_cell {
    font-weight: bold;
    border-top: 1px solid #595;
    color: #87cefa;
  }
}

