/* Global styles */

#store #notice {
        color: #000;
        border: 2px solid red;
        padding: 1em;
        margin-bottom: 2em;
        background-color: #f0f0f0;
        font: bold smaller sans-serif;
}


#store h1 {
        font:  250% sans-serif;
        color: #226;
        border-bottom: 3px dotted #77d;
}

/* START:mainlayout */
/* Styles for main page */

#banner {
  background: #000;
  padding-top: 5px;
  padding-bottom: 15px;
  border-bottom: 5px solid;
  font: italic small-caps bold 100px/150px 'chalkduster', serif;
  color: #87cefa;
  text-align: center;
  height: 150px;
}

#banner img {
  float: left;
  height:150px;
  width:150px;
}

#columns {
  background: #303030;
}

#main {
  margin-left: 17em;
  padding-top: 4ex;
  padding-left: 2em;
  background: white;
}

#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 16em;
  background: #303030;
}

#side a {
  float: auto;
  color: #87cefa;
  font-size: 20px;
}
/* END:mainlayout */

/* An entry in the store catalog */

#store  .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
}

#store  .title {
  font-size: 120%;
  font-family: sans-serif;
}

#store .entry img {
  width: 150px;
  height: 120px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
}


#store .entry h3 {
 margin-top: 0;
 margin-bottom: 2px;
 color: #227;
 font-size: 150%;
}


#store .entry p {
 margin-top: 0.5em; 
 margin-bottom: 0.8em; 
 font-size: large;
}

#store .entry .price_line {
 clear: both;
 margin-bottom: 0.5em;
}

#store .entry .add_to_cart {
  position: relative;
}

#store .entry  .price {
  color: #44a;
  font-weight: bold;
  font-size:120%;
  margin-right: 2.5em;
  margin-left: 3em;
}

/* START:inline */
#store .entry form, #store .entry form div {
  display: inline;
}
/* END:inline */

/* START:cartmain */
/* Styles for the cart in the main page */

#store .cart_title {
  font: bold;
}

#store .item_price, #store .total_line {
  text-align: right;
  color: #87cefa;
}

#store .total_line .total_cell {
  font-weight: bold;
  border-top: 1px solid #595;
}
/* END:cartmain */

/* START:cartside */
/* Styles for the cart in the sidebar */

#cart, #cart table {
  font-size: smaller;
  color: #87cefa;
}

#cart table {
  border-top:    1px dotted #595;
  border-bottom: 1px dotted #595;
  margin-bottom: 10px;
}
/* END:cartside */

/* START:form */
/* Styles for order form */

.depot_form fieldset {
  background: #f0f8ff;
}

.depot_form legend {
  color: #87cefa;
  background: #303030;
  font-family: sans-serif;
  font-size:x-large;
  padding: 0.5em 1em;
}

.depot_form label {
  width: 5em;
  float: left;
  text-align: left;
  padding-top: 0.2em;
  margin-right: 0.1em;
  display: block;
  font-size: large;
}

.depot_form select, .depot_form textarea, .depot_form input {
  margin-left: 0.5em;
  font-size:large;
}

.depot_form div {
  margin: 0.5em 0;
}
/* END:form */
